<h1 class="center">Lindsay's Cafe</h1>
<div class="order">
    <h3>Order Food</h3>
    <a href="/apps/new" class="btn black">Order</a>
</div>
<div class="order">
  <div class="card-content white-text">
    <h3>View Cart</h3>
    <a href="/apps" class="btn black">View</a>
  </div>
</div>