<h1 class="center">Lindsay's Cafe</h1>
  <div class="order">
    <h3>Order Food</h3>
    <a href="/apps/new" class="btn">Order</a>
  </div>
  <div class="order">
    <h3>View Cart</h3>
    <a href="/apps" class="btn">View</a>
  </div>
</div>
