<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">CAFE</a>
    <ul id="nav-mobile">
      <li><a href="/apps">My Cart</a></li>
      <li><a href="/apps/new">Order</a></li>
    </ul>
  </div>
</nav>