<nav>
  <div class="nav-wrapper">
    <a href="/" class="nav-title">CAFE</a>
      <ul id="nav-mobile">
        <a href="/apps">My Cart</a>
        <a href="/apps/new">Order</a>
      </ul>
 </div>
</nav>
