
.nav-wrapper {
  background-color: #ffa3f0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courgette', cursive;
}

.nav-title {
  font-size:60px;
  align-items: center;
}


#nav-mobile{
  font-size: 30px;
  display:flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
}

/* this is the home page*/
.background {
  background-image: url("images/amsterdam.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
}
.center{
  display:flex;
  justify-content: center;
  font-family: 'Courgette', cursive;
  margin:auto;

}

.order_container{
  width:400px;
  background-color:hsla(0,0%,50.2%,0.8);
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
  border: 1px solid black;
  margin:auto;
  padding:60px;
  font-family: 'Courgette', cursive;
}

.btn{
  background: #ffa3f0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.footer{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: #ffa3f0;
  height: 50px;
}
