
.nav-wrapper {
  background-color: #ffa3f0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courgette', cursive;
}

.nav-title {
  font-size:60px;
  align-items: center;
}


#nav-mobile{
  font-size: 30px;
  display:flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
}

/* this is the home page*/
.center{
  display:flex;
  justify-content: center;
  font-family: 'Courgette', cursive;
}

.order{
  background-color: rgb(190, 190, 190);
  display: flex;
  align-items:center;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  margin: 40px;
}

.btn{
  background: #ffa3f0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
