
.nav-wrapper {
  background-color: rgb(248, 165, 230);
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courgette', cursive;
}

.nav-title {
  font-size:60px;
  align-items: center;
}


#nav-mobile{
  font-size: 30px;
  display:flex;
  flex-direction: column;
  border: 2px solid black;
  padding:5px
}

/* this is the home page*/
.center{
  display:flex;
  justify-content: center;
  font-family: 'Courgette', cursive;
}

.order{
  display: flex;
  justify-content: center;
}
